
# Default ignored files
/.idea.WindowsFormsApp1/.idea/workspace.xml
# Datasource local storage ignored files
/.idea.WindowsFormsApp1/.idea/dataSources/
/.idea.WindowsFormsApp1/.idea/dataSources.local.xml